# Logs
api_publish/Logs/
face_recognition_system/*.log
passport_scanner/logs/

# Certificates
api_publish/openiddict.pfx

# Uploads
api_publish/wwwroot/Uploads/

face_recognition_system/debug_db_images